# --- POSTGRES CONFIG ---
POSTGRES_DB=mydb
POSTGRES_USER=admin
POSTGRES_PASSWORD=pon_aqui_tu_password_segura

# --- DJANGO CONFIG ---
DB_NAME=mydb
DB_USER=admin
DB_PASSWORD=pon_aqui_tu_password_segura
DB_HOST=db
DB_PORT=5432
DJANGO_SECRET_KEY=genera_una_clave_larga_y_aleatoria
DEBUG=True

# --- GARAGE (S3) CONFIG ---
# El RPC Secret se genera una vez al configurar Garage
GARAGE_RPC_SECRET=tu_rpc_secret_generado
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_STORAGE_BUCKET_NAME=mi-bucket-app
AWS_S3_ENDPOINT_URL=http://garage:3900