# --- DJANGO & PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
PYTHONPATH
htmlcov/
.tox/
.pytest_cache/
staticfiles/
media/

# --- BASE DE DATOS & DOCKER ---
postgres_data/
.docker/
docker-compose.override.yml

# --- FRONTEND (VUE 3) ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache

# --- SISTEMA & EDITORES ---
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo

# --- LOGS ---
logs/
*.log