@layer tailwind-base, primevue, tailwind-utilities;

@import "tailwindcss";
@import "tailwindcss-primeui";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
}


@layer base {
  html, body {
    /* Usamos la variable de superficie 50 que es el fondo base */
    background-color: var(--p-surface-50);
    color: var(--p-surface-900);
    min-height: 100dvh;
    margin: 0;
  }

  .dark html, .dark body {
    background-color: var(--p-surface-950); /* Un negro más profundo para el dark */
    color: var(--p-surface-0);
  }
  
}

@layer primevue-overrides {
  .p-datatable-tbody > tr:focus-visible,
  .p-datatable-tbody > tr.p-datatable-contextmenu-row-selected {
    outline: none !important;
    box-shadow: none !important;
  }

  .p-datatable-mask{
    position: absolute;
    top: 5vh;
  }
  .p-overlay-mask {
  background: transparent !important;
    color: var(--p-button-primary-background);
} 
}
